@model ProductVm
@{
    ViewBag.PageTitle = "Product Managment";
    ViewBag.CardTitle = "Create Product";

}
<div class="row">
    <div class="col-md-6">
<form asp-area="Admin" asp-controller="Product" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Product.Name"></label>
        <input asp-for="Product.Name" class="form-control" />
        <span asp-validation-for="Product.Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Product.Description"></label>
        <textarea id="mytextarea" asp-for="Product.Description" class="form-control">

        </textarea>
        <span asp-validation-for="Product.Description" class="text-danger"></span>

    </div>
    <div class="mb-3">
        <label asp-for="Product.Price"></label>
        <input asp-for="Product.Price" class="form-control" />
        <span asp-validation-for="Product.Price" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Product.Img"></label>
        <input type="file" name="file" id="imgfile" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Product.CategoryId"></label>
        <select asp-for="Product.CategoryId" class="form-control" asp-items="Model.CategoryList">
            <option disabled selected>-- select Category </option>
        </select>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary"  type="submit">Create</button>
        <a asp-area="Admin" asp-controller="Product" asp-action="Index"  class="btn btn-secondary"> Back To Index</a>
    </div>
      
</form>
    </div>
    <div class="col-md-4">
        <div class="text-center">
            <img id="ImagePreview" src="/@Model.Product.Img" ) alt="Product Image" width="300px" height="300" class="img-fluid" />
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_validationscriptspartial" />
    <script>
        tinymce.init({
            selector: '#mytextarea'
        });
    </script>
    <script>
        document.getElementById('imgfile').addEventListener('change', function (event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('ImagePreview');
                output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        });
    </script>

}