@inject MyShop.DataAccess.Implementation.ShoppingCart cartService

@{
    var itemCount = cartService.GetItemCount();
}

<a class="btn btn-outline-dark" asp-area="Customer" asp-controller="Cart" asp-action="Index">
    <i class="bi-cart-fill me-1"></i>
    Cart
    <span class="badge bg-dark text-white ms-1 rounded-pill">@itemCount</span>
</a>
