@model Category
@{
    ViewBag.PageTitle = "Category Managment";
    ViewBag.CardTitle = "Create Category";
}

<form method="post" asp-area="Admin" asp-controller="Category" asp-action="Create">
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>

    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>

</form>
<a href="/Admin/Category" class="btn btn-secondary">Back to List</a>

@section Scripts {
    <partial name="_validationscriptspartial" />
}