@model Category
@{
    ViewBag.PageTitle = "Category Managment";
    ViewBag.CardTitle = "Create Category";
    Layout = "_AdminLayout";

}

<form method="post">
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>

    </div>
    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Create</button>
        <a asp-action="Index" asp-controller="Category" class="btn btn-secondary"> Back To Index</a>
    </div>


</form>
@section Scripts{
<partial name="_validationscriptspartial" />}