@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card shadow-sm">
                    <div class="card-body p-4">
                        <h2 class="card-title text-center">Log in to Your Account</h2>
                        <hr />
                        <form id="account" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                <label asp-for="Input.Email" class="form-label">Email</label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Password" />
                                <label asp-for="Input.Password" class="form-label">Password</label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" asp-for="Input.RememberMe" id="rememberMeCheck" />
                                <label asp-for="Input.RememberMe" class="form-check-label" for="rememberMeCheck">
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                            <button id="login-submit" type="submit" class="btn btn-primary w-100">Log in</button>
                            <div class="mt-3">
                                <p>
                                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                </p>
                             
                               
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 d-flex align-items-center justify-content-center mt-4 mt-lg-0">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                     class="img-fluid rounded" alt="Sample image">
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
